
html.peeper-standalone,
.peeper-non-standalone #peeper{ font-size: 100%; }

.peeper-standalone body { margin: 0 10px 10px 10px; background: #262621; font-family: Verdana; font-size: 14px; }

.peeper-non-standalone #peeper { position: fixed; left: 0; bottom: 0; width: 100%; height: 200px; background: #262621; font-family: Verdana; font-size: 14px; }

/* PEEPER LOGO */
/* ------------------ */
#peeper-logo { color: #FFFFFF; left: 20px; position: absolute; text-transform: uppercase; top: 12px; z-index: 1000; width: 126px; height: 15px; }
	.peeper-standalone #peeper-logo { top: -8px; }
	#peeper-logo a { background: url(../images/logo.png) no-repeat; display: block; width: 126px; height: 15px; }
		#peeper-logo span { display: none; }
	

#peeper .footer { background: #262621; width: 100%; text-align: right; position: fixed; padding: 5px 0; bottom: 0px; } 
	#peeper .copyrights { color: #73735e; font-size: 70%; padding: 0px 5px; }

#peeper .toolbar { margin: 10px 0px; text-align: right; }
	#peeper .peeper-stop { cursor: pointer; background: #71811C; border-radius: 6px 6px 6px 6px; color: #DCE7C2; font-size: 70%; padding: 2px 4px; text-transform: uppercase; }
	#peeper .peeper-up,
	#peeper .peeper-down { width: 20px; cursor: pointer; background: #71811C; border-radius: 6px 6px 6px 6px; color: #DCE7C2; font-size: 70%; padding: 2px 4px; text-transform: uppercase; }
	#peeper .toolbar a { margin-right: 5px; }
	#peeper .peeper-up { margin-right: 2px; }

#peeper .result { margin-bottom: 30px; }
.peeper-non-standalone .result { overflow: auto; height: 140px; }
#peeper .request { background: #fff; border-radius: 8px; margin-top: 10px; }
	/* REQUEST BAR/HEADER */
	/* ------------------ */
	/* normal request (green) */
	#peeper .request-title { position: relative; cursor: pointer; font-size: 70%; margin-bottom: 0; color: #19480D; font-weight: normal; background: #AFD36F; border: 3px solid #83C151; border-radius: 8px 8px 8px 8px; padding: 2px 4px; }
	/* stripes */
	#peeper .request:nth-child(2n) .request-title { background: #C4DC92; }	
		
	/* ajax request (blue) */
	#peeper .request.ajax .request-title { background: #91C1DE; border-color: #497EBE; }
	/* stripes for ajax request */
	#peeper .request.ajax:nth-child(2n) .request-title { background: #7AB1D3; }
		/* "AJAX" label */
		#peeper .request-title .ajax { background: #fff; border-radius: 4px; padding: 2px; font-size: 90%; text-transform: uppercase; color: #000; }
		/* request method (post, get, etc.) and status (200, 404, 500 etc.) */
		#peeper .request-title .method, .request-title .status { opacity: 0.6; }
	
	/* error request (red) */
	#peeper .request.error .request-title { color: #F5F2F4; background: #CF4686 !important; border-color: #B01E53; }
	
		/* request redirection */
		#peeper .request-title span.redirect { opacity: 0.6; color: #000; font-style: italic; margin-left: 5px; }
		
	#peeper .request-items { display: none; padding: 5px; }
		#peeper .request-item {}
			#peeper .item-container { background: #CFE1F4; }
				#peeper .item-header {cursor: pointer; border-bottom: 1px solid #99BBD0; margin-bottom: 0; color: #084E73; font-size: 60%; font-weight: normal; letter-spacing: 2px; margin-top: 0; padding: 5px; text-transform: uppercase; }							
				#peeper .item-items { padding: 0 5px 5px 5px; background: #E6EFF5; border-top: 1px solid #F4F8FB; }
					
					#peeper table { width: 100%; border-collapse: collapse; }
					#peeper th, #peeper td { text-align: left; font-size: 70%; padding: 4px 4px; }
					#peeper tr.table-header { background: #8DBFD6; }
					#peeper table.stripes tr:nth-child(2n) { background: #F0F5F9; }
					
					#peeper .module-kohana-profiler table.profiler { margin-top: 5px; }								
						#peeper .module-kohana-profiler .group th { font-size: 70%; padding: 4px; }
						#peeper .module-kohana-profiler .group td { text-align: right; }
							#peeper .module-kohana-profiler .group .time,
							#peeper .module-kohana-profiler .group .memory { font-size: 80%; background: #D6E9F4; border-radius: 4px; margin-right: 5px; padding: 2px 4px; }
						#peeper .module-kohana-profiler .headers { background: #CCD9E0; }
							#peeper .module-kohana-profiler .headers th.min { background: #B3D282; }
							#peeper .module-kohana-profiler .headers th.max { background: #D9949D; }
							#peeper .module-kohana-profiler .headers th.name { width: 40%; }
							#peeper .module-kohana-profiler .headers th.average { background: #D6D163; }
							#module-kohana-profiler .headers th.total {}
						#peeper .module-kohana-profiler .mark {  }										
							#peeper .module-kohana-profiler .mark td.min { background: #CBE3A6; }
							#peeper .module-kohana-profiler .mark td.max { background: #E8BCC2; }
							#peeper .module-kohana-profiler .mark th.name { width: 40%; font-weight: normal; border-bottom: 1px solid #B8CFE6; }
							#peeper .module-kohana-profiler .mark td.average { background: #E8E589; }
							#peeper .module-kohana-profiler .mark td.total {  }
							
							#peeper .module-kohana-profiler .mark.memory td.min { border-bottom: 1px solid #B3D282; }
							#peeper .module-kohana-profiler .mark.memory td.max { border-bottom: 1px solid #D9949D; }
							#peeper .module-kohana-profiler .mark.memory td.average { border-bottom: 1px solid #D6D163; }
							#peeper .module-kohana-profiler .mark.memory td.total { border-bottom: 1px solid #B8CFE6; }
					
					#peeper .module-debug th { width: 20%; }
					
					#peeper .module-globals table { margin-top: 10px; }
					
					#peeper .ajax-response .application-json,
					#peeper .ajax-response .text-html { width: 40%; }									
					#peeper .ajax-response .application-json + td,
					#peeper .ajax-response .text-html + td { width: 60%; }
					#peeper .ajax-response td + td * { font-size: 104%; }
					
					#peeper .json-tree ul,
					#peeper .xml-tree ul { list-style: none; }
						#peeper .json-tree ul ul,
						#peeper .xml-tree ul ul { padding-left: 20px; display: none; }
							#peeper .json-tree .key { font-weight: bold; padding-right: 10px; }
							#peeper .json-tree a.key code { color: #000; } 
							#peeper .json-tree pre.value { display: inline; }
							
							#peeper .json-tree .string { color: #8C6600; }
							#peeper .json-tree .expand,
							#peeper .xml-tree .expand { margin-right: 3px; cursor: pointer; }
							#peeper .json-tree .key pre.number { font-weight: bold; color: #497EBE; }
							
					#peeper .xml-tree .tag-name { color: #1C5BB3; }
					#peeper .xml-tree .attr-name { color: #000; }
					#peeper .xml-tree .attr-value { color: #DD3D3D; }

/* test-query-button displayed next to database queries */					
#peeper .test-query { cursor: pointer; text-decoration: none; color: #000; letter-spacing: 1px; background: #fff; border-radius: 6px; padding: 2px 4px; right: 4px; text-transform: uppercase; font-size: 80%; margin-right: 5px; }
#peeper .test-query:hover { background: #7AB1D3; color: #fff; }
	#peeper .test-query span { display: none; }
						
					#peeper .db-result th { font-size: 70%; padding: 4px; text-align: left; background: #CCD9E0; }
					
/* test request button displayed on the request-title-bar */
#peeper .test-request { cursor: pointer; text-decoration: none; color: #000; letter-spacing: 1px; background: #fff; 
				border-radius: 6px; padding: 2px 4px; right: 4px; text-transform: uppercase; font-size: 80%; 
				margin-right: 5px; position: absolute; right: 0px; top: 2px; z-index: 20; }
#peeper .test-request:hover { background: #7AB1D3; color: #fff; }